{% extends 'base.html.twig' %}

{% block title %} Notas del ticket {% endblock %}

{% block body %}

    <div class="row">

        <div class="col-lg-3 offset-3">
            <a class="btn btn-info " href="{{ path('indexTicket') }}" role="button"><b>Regresar a Ticket</b></a>
            <a class="btn btn-success " href="{{  path('newNotasTicket', {ticketId: ticketId, uAsignadoId: uAsignadoId }) }}" role="button"><b>Nueva Nota</b></a>

        </div>

        <div class="col-lg-6">
            <h1>Lista de Notas</h1>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6  offset-3">
            <table class="table table-sm">
                <thead class="thead-dark">

                <th scope="col" class="text-center" >#</th>
                <th scope="col" class="" >Fecha</th>
                <th scope="col" class="" >Ticket</th>
                <th scope="col" class="" >Usuario</th>
                <th scope="col" class="" >Descripcion</th>
                <th scope="col" class="text-center" >Acciones</th>

                </thead>
                <tbody>
                {% set counter = 1 %}
                {% for item in notasXticket %}

                    <tr>
                        <th scope="row" class="text-center">{{ counter }}</th>

                        <td >{{ item.fechaCreado }}</td>
                        <td >{{ tituloTicket }}</td>
                        <td >{{ nombreuAsignado }}</td>
                        <td >{{ item.descripcionNota }}</td>
                        <td class="text-center">
                            <button class="btn btn-danger" id="delNota" value="{{ item.id }}">Del</button>
                        </td>
                    </tr>
                    {% set counter = counter + 1  %}
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        function delNota(nota)
        {
            $.ajax
            ({
                type:"DELETE",
                url:Routing.generate('delNotas', {id: nota}),
                error: function (data) {

                },
                success:function (data) {
                    location.reload();
                }
            });

        }

        $(document).ready(function () {

            $(document).on("click","#delNota",function () {
                console.log($(this).val());

                delNota($(this).val());
            });

        })


    </script>

{% endblock %}