{% extends 'base.html.twig' %}


{% block body %}
    <h1>Edit User</h1>


    <form>

        {# Input oculto para mantener el ID del Usuario #}
        <input type="hidden" id="id" value="{{ ticket.id }}">

        <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" id="titulo" value="{{ ticket.titulo }}">
        </div>

        <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input type="text"  class="form-control" id="descripcion" value="{{ ticket.descripcionProblema }}">
        </div>

        <div class="form-group">
            <label for="categoriaID">Categoria</label>
            <input type="text" class="form-control" id="categoriaID" value="{{ ticket.categoriaID }}">
        </div>

        <div class="form-group">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" id="estado" value="{{ ticket.estado }}">
        </div>

        <div class="form-group">
            <label for="prioridad">Prioridad</label>
            <input type="text" class="form-control" id="prioridad" value="{{ ticket.prioridad }}">
        </div>

        <div class="form-group">
            <label for="solicitante">Solicitante</label>
            <input type="text" class="form-control" id="solicitante" value="{{ ticket.usuarioSolicitanteID }}">
        </div>

        <div class="form-group">
            <label for="usuarioAsig">Usuario Asignado</label>
            <input type="text" class="form-control" id="usuarioAsig" value="{{ ticket.usuarioAsignadoID }}">
        </div>

        <button type="button" id="udpTicket" class="btn btn-success"> <span>Actualizar</span> </button>
        <a class="btn btn-danger" href="{{ path('ticket') }}"><span>Cancelar</span> </a>

    </form>



{% endblock %}

{% block javascripts %}
    {{ parent() }}

     <script>

         function  updTicket(ticket) {

             alert(JSON.stringify(ticket));

             $.ajax({
                 type: "PUT",
                 data: JSON.stringify(ticket),
                 url: Routing.generate('updTicket', {id: ticket.id}),
                 error: function() {

                 },
                 success: function (data) {

                     window.location = Routing.generate('ticket');
                 }
             });

         }

         $(document).ready(function () {
             alert('ready');

             $('#udpTicket').click(function () {
                    alert('click');

                 var id = $('#id').val();
                 var titulo = $('#titulo').val();
                 var descripcion = $('#descripcion').val();
                 var categoriaID = $('#categoriaID').val();
                 var estado = $('#estado').val();
                 var prioridad = $('#prioridad').val();
                 var solicitante = $('#solicitante').val();
                 var usuarioAsig = $('#usuarioAsig').val();

                 updTicket({ id: id, descripcionProblema : descripcion, categoriaID: categoriaID, estado: estado, prioridad: prioridad, usuarioSolicitanteID: solicitante, usuarioAsignadoID: usuarioAsig, titulo: titulo });

             });

         });
     </script>

   
{% endblock %}

