{% extends 'base.html.twig' %}

{% block title %} Ticket {% endblock %}

{% block event_ticket %} active {% endblock %}

{% block body %}


    <div class="row">

        <div class="col-lg-9">
            <a class="btn btn-success " href="{{ path('nuevoTicket') }}" role="button"><b>Nuevo Ticket</b></a>
        </div>

        <div class="col-lg-3">
            <h1>Lista de Tickets</h1>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12"><br></div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <table class="table table-bordered table-sm">

                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Fecha Creado</th>
                    <th scope="col" class="text-center">Descripcion</th>
                    <th scope="col" class="text-center">Categoria</th>
                    <th scope="col" class="text-center">Estado</th>
                    <th scope="col" class="text-center">Fecha Estado</th>
                    <th scope="col" class="text-center">Prioridad</th>
                    <th scope="col" class="text-center">Solicitante</th>
                    <th scope="col" class="text-center">Asignado</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
                </thead>
                <tbody>

                {% for items in ticketList %}

                    <tr>
                        <th scope="row" class="text-center"> {{ items.id }} </th>
                        <td class="text-center"> {{ items.fechaCreado }}</td>
                        <td> {{ items.descripcionProblema }}</td>
                        <td> {{ items.categoria }}</td>
                        <td> {{ items.estado }}</td>
                        <td class="text-center"> {{ items.fechaStatus }}</td>
                        <td> {{ items.prioridad }}</td>
                        <td> {{ items.usuarioSolicitanteID }} </td>
                        <td> {{ items.usuarioAsignadoID }} </td>


                        <td class="text-center">
                            <a class="btn btn-outline-success" href="{{  path('editTicket', {id: items.id}) }}" role="button">Edit</a>&nbsp;
                            <a class="btn btn-danger" href="{{  path('delTicket', {id: items.id}) }}" role="button">Del</a>
                        </td>
                    </tr>

                {%  endfor %}

                </tbody>
            </table>

        </div>
    </div>



{% endblock %}