{% extends 'base.html.twig' %}


{% block body %}
    <h1>Edit User</h1>


    <form>

        {# Input oculto para mantener el ID del Usuario #}
        <input type="hidden" id="id" value="{{ usuario.id }}">

        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text"  class="form-control" id="nombre" value="{{ usuario.nombre }}">
        </div>

        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" value="{{ usuario.apellido }}">
        </div>

        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" class="form-control" id="usuario" value="{{ usuario.username }}">
        </div>

        <div class="form-group">
            <label for="usuarioPass">Usuario Clave</label>
            <input type="text" class="form-control" id="usuarioPass" value="{{ usuario.userPass }}">
        </div>

        <div class="form-group">
            <label for="usuarioTipo">Tipo Usuario</label>
            <select id="usuarioTipo" class="form-control">
                <option value="{{ usuario.tipoUser }}">{{ usuario.tipoUser }}</option>
                <option value="Cliente">Cliente</option>
                <option value="Soporte">Soporte</option>
            </select>
        </div>

        <div class="form-group">
            <label for="idRol">Rol</label>
            <select class="form-control" id="idRol">

                <option value="{{ rolDefault["id"] }}"> {{ rolDefault["nombre"] }}</option>
                {% for rol in rolOptions %}
                    <option value="{{ rol.id }}">{{ rol.nombre }}</option>
                {% endfor %}

            </select>
        </div>

        <div class="form-group">
            <label for="estado">Estado</label>
            <select name="estado" id="estado" class="form-control">

                <option value="{{ usuario.estado }}">{{ usuario.estado }}</option>
                <option value="activo">Activo</option>
                <option value="desactivado">Desactivado</option>

            </select>
        </div>

        <button type="button" id="udpUsuario" class="btn btn-success"> <span>Actualizar</span> </button>
        <a class="btn btn-danger" href="{{ path('indexUsuario') }}"><span>Cancelar</span> </a>

    </form>



{% endblock %}

{% block javascripts %}
    {{ parent() }}

     <script>

         function  udpUsuario(usuario) {
             //alert(JSON.stringify(usuario));

             $.ajax({
                 type: "PUT",
                 data: JSON.stringify(usuario),
                 url: Routing.generate('updUsuario', {id : usuario.id}),
                 error: function() {

                 },
                 success: function (data) {

                     window.location = Routing.generate('indexUsuario');
                 }
             });

         }

         $(document).ready(function () {

             $('#udpUsuario').click(function () {

                 var id = $('#id').val();
                 var nombre = $('#nombre').val();
                 var apellido = $('#apellido').val();
                 var usuario = $('#usuario').val();
                 var clave = $('#usuarioPass').val();
                 var tipo = $('#usuarioTipo option:selected').val();
                 var rolid = $('#idRol').val();
                 var estado = $('#estado option:selected').val();


                 udpUsuario({ id: id, nombre : nombre, apellido: apellido, username: usuario, userPass: clave, tipoUser: tipo, rolID: rolid, estado: estado });

             });


         });
         </script>

   
{% endblock %}

