{% extends 'base.html.twig' %}

{% block title %} Usuario {% endblock %}

{% block event_usuario %} active {% endblock %}

{% block body %}

    <div class="row">

        <div class="col-lg-9">
            <a class="btn btn-success " href="{{  path('nuevoUsuario') }}" role="button"><b>Nuevo Usuario</b></a>
        </div>

        <div class="col-lg-3">
            <h1>Lista de Usuarios</h1>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12"><br></div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <table class="table table-bordered table-sm">

                <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Nombre</th>
                    <th scope="col" class="text-center">Apellido</th>
                    <th scope="col" class="text-center">Usuario</th>
                    <th scope="col" class="text-center">Clave</th>
                    <th scope="col" class="text-center">Tipo</th>
                    <th scope="col" class="text-center">Rol</th>
                    <th scope="col" class="text-center">Estado</th>
                    <th scope="col" class="text-center">Registro/Actualizacion</th>
                    <th scope="col" class="text-center">Opciones</th>
                </tr>
                </thead>
                <tbody>

                {% set counter = 1 %}
                {% for items in usuarioList %}

                    <tr>

                        <th scope="row" class="text-center" id="id"> {{ counter }} </th>
                        <td> {{ items.nombre }}</td>
                        <td> {{ items.apellido }}</td>
                        <td> {{ items.username }}</td>
                        <td> {{ items.userPass }}</td>
                        <td> {{ items.tipoUser }}</td>
                        <td>
                            {% for rol in usuarioRol %}
                                {{ (items.rolID == rol["id"]) ? rol["nombre"] }}
                            {% endfor %}
                        </td>
                        <td> {{ items.estado }}</td>
                        <td class="text-center"> {{ items.fechaRegistro }}</td>
                        <td class="text-center">

                            {# <a href="{{ Router('nombrerutainterna', {id: items.id}) }}"></a>  despues de instalar y conf FOSROUTIN #}
                            <a class="btn btn-outline-success" href="{{ path('editUsuario', {id: items.id}) }}" role="button">Edit</a>&nbsp;
                            <a class="btn btn-danger" href="{{ path('delUsuario', {id: items.id}) }}" role="button">Del</a>
                            {#<button type="button" class="btn btn-default" id="delbutton"><span>Borra</span></button>#}

                        </td>
                    </tr>

                    {% set counter = counter + 1 %}
                {% endfor %}


                </tbody>
            </table>

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}