{% extends 'base.html.twig' %}

{% block title %} Categoria {% endblock %}

{% block event_cat %} active {% endblock %}

{% block body %}


        <div class="row">

           <div class="col-lg-3 offset-3">
              <a class="btn btn-success " href="{{ path('newCategoria') }}" role="button"><b>Nueva Categoria</b></a>
           </div>

           <div class="col-lg-6">
              <h1>Lista de Categorias</h1>
           </div>

        </div>

       <div class="row">
          <div class="col-lg-6  offset-3">
             <table class="table table-sm">
                <thead class="thead-dark">

                   <th scope="col" class="text-center" >#</th>
                   <th scope="col" class="" >Categoria</th>
                   <th scope="col" class="text-center" >Acciones</th>

                </thead>
                <tbody>

                    {% set counter = 1 %}
                    {% for item in categoria %}

                    <tr>
                        <th scope="row" class="text-center">{{ counter }}</th>
                        <td >{{ item.nombre }}</td>
                        <td class="text-center">
                            <a href="{{ path('editCategoria', {id : item.id}) }}" class="btn btn-outline-success" role="button">Edit</a>
                            <button class="btn btn-danger" id="delCategoria" value="{{ item.id }}"><span>Del</span> </button>
                        </td>
                    </tr>
                        {% set counter = counter + 1  %}
                    {% endfor %}

                </tbody>
             </table>

          </div>
       </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        function delCategoria(id){

            $.ajax({
                type:"DELETE",
                url: Routing.generate('delCategoria', {id: id}),
                error: function (data) {

                },
                success: function (data) {
                    location.reload();
                }
            });

        }

        $(document).ready(function () {

            $(document).on("click", "#delCategoria", function () {

               delCategoria($(this).attr("value"));
            });
        });


    </script>

{% endblock %}
